/*LA PRIMERA LINEA DE CODIFO ESE PARA QUE RESETEE LOS ESTILOS GLOBALES*/
*{
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}
/*----------STILOS DEL BODY----------*/
body{
    background-color:black;
    color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23ff2d00' fill-opacity='0.1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}
/* PARA SACAR LA DECORACION A LA LISTA*/
ul{
    list-style: none;
}

.container{
    /*PARA CENTRAR*/
    width:90%;
    margin: auto;
}

/*----------ESTILOS DE NAVEGACION----------*/

.nav-main{
    font-size: 17px;
    /*para poder organizar*/
    display: flex;
    /*para que use todo el ancho disponible*/
    justify-content: space-between;
    /*para alinear*/
    align-items: center;
    height: 60px;
    padding: 20px 0 /*primero, arriba y abajo; segundo, a los lados*/;
}


.nav-brand{
    width: 50px;
}

/*----------NAVEGACION IZQUIERDA----------*/

.nav-main ul{
    /*para alinear el la navegacion*/
    display: flex;
}

.nav-main ul li{
    /*para darle espacio entre links*/
    padding: 10px;
}


/*para agregarle el subrrallado*/
.nav-main ul li a{
    padding:6px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid white;
}


/*para pegar la navegacion para el lado del icono*/
.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 30px;
    display: none;
    z-index: 2;
    font-size: 1.5rem;

}

/*----------SHOWCASE BANNER----------*/
hr{
    margin:10px 0;
}
.showcase{
    /**/
    width: 100%;
    height: 550px;
    background: url(img/showcase2.jpg) no-repeat center center/cover;/*configuraciones para centrar*/
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
/*dando estilos al boton  "leer mas"*/
.btn{
    cursor: pointer;
    display: inline-block;
    border:0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #262626;
    color:white;
    font-size: 15px;
    border: 1px solid #fff;
    margin:10px 0;
}
.btn:hover{
    opacity: 0.7 ;
}

.showcase h2,
.showcase p{
    margin-bottom: 10px;
}

/*----------NEWS CARDS----------*/
/*armando las columnas css grid*/
.new-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*crear espaciado interno*/
    gap:25px;
    margin: 10px 0;

}
.new-cards img{
    width:100%;
    height: 180px;

}
.new-cards h3{
    font-size: 20px;
    margin:10px 0;
}
.new-cards a{
    padding: 10px;
    color: #f2f2f2;
    /*para poner el texto en mayusculas*/
    text-transform: uppercase;
    display: inline-block;
}
.new-cards a:hover{
    text-decoration:underline;/*para poner la linea abajo*/
}


/*---------CARDS BANNER ONE----------*/
.cards-banner-one{
    width: 100%;
    height: 350px;
    background: url(img/tech-red.jpg)no-repeat center center/cover;
    margin-bottom: 40px;
}

.cards-banner-one .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color:white;

}
.cards-banner-one p,
.cards-banner-one h2{
    margin:10px 0 20px 0;
}

/*---------CARDS BANNER TWO----------*/
.cards-banner-two{
    width: 100%;
    height: 350px;
    background: url(img/image-five.jpg)no-repeat center center/cover;
    margin-bottom: 40px;
}

.cards-banner-two .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color:white;

}
.cards-banner-two p,
.cards-banner-two h2{
    margin:10px 0 20px 0;
}

/*----------SOCIAL----------*/
.social{
    margin:50px;
}

.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin: 0 30px;
}

.links i{
    font-size: 3rem;
}


/*----------FOOTER----------*/

.footer-links{
    background: #2f3640;
    color:#616161;
    font-size: 12px;
    padding:35px 0;
}

.footer-conteiner{
    display:grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid: 10px;
    align-items: flex-start;
    justify-content: center;
}
.footer-conteiner ul{
    margin: 0 auto;

}

.footer-conteiner ul li{
    line-height: 2.8 ; /*para separar los links*/
}

.footer{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding:20px 0 ;
    text-align: center;
    padding-bottom: 20px;
}

/*----------MODO RESPONSIVE----------*/

@media (max-width:700px){
    .menu-btn{
        display: block;
    }
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 100%;
        padding:30px;
        opacity: .9;
        transform: translateX(-400px);
        /*se agrega una transicion*/
        transition: transform .5s ease-in-out;
    }
    /*se agrega una clase show para la funcionalidad de js*/
    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li{
        padding: 20px;
        font-size: 14px;
    }

    .nav-main ul.nav-menu-right{
        margin-right: 40px;
    }

    .new-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-banner-one .content,
    .cards-banner-two .content{
        width: 80%;
    }
    .footer-links .footer-conteiner{
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (max-width:500px){
    .new-cards {
        grid-template-columns: 1fr;
    }
    .new-cards img{
        height: 250px;
    }
    .cards-banner-one .content,
    .cards-banner-two .content{
        width: 100%;
        padding: 60px 20px;
    }
    .footer-links .footer-conteiner{
        grid-template-columns: 1fr;
    }


}






